# ===================================================================
# tpRigToolkit-dccs-maya requirements file
# ===================================================================

pytest
pytest-cov
coveralls
sphinx
sphinx_rtd_theme
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
tpDcc-dccs-maya